.slideout {
    position: fixed;
    width: 800px;
    height: 800px;
    left: 100%;
    top: 8%;
    transition: left .3s ease-out;
    z-index: 1000;
}

.slideout.active {
    left: 70%;
    z-index: 1000;
}

.handle {
    position: absolute;
    top: 10px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4367aa;
    cursor: pointer;
}
.mybody {
    position: absolute;
    background: #e2e5ee;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}


@media only screen and (max-width: 1000px) {
    .slideout.active {
        left: 60%;
        z-index: 1000;
    }

    .slideout {
        position: fixed;
        width: 400px;
        height: 600px;
        left: 100%;
        top: 8%;
        transition: left .3s ease-out;
        z-index: 1000;
    }

    .handle {
        position: absolute;
        top: 10px;
        left: -20px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #4367aa;
        cursor: pointer;
    }
    
    .mybody {
        position: absolute;
        background: #e2e5ee;
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }


}





@media only screen and (max-width: 600px) {
    .slideout.active {
        left: 40%;
        z-index: 1000;
    }

    .slideout {
        position: fixed;
        width: 400px;
        height: 600px;
        left: 100%;
        top: 8%;
        transition: left .3s ease-out;
        z-index: 1000;
    }

    .handle {
        position: absolute;
        top: 10px;
        left: -20px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #4367aa;
        cursor: pointer;
    }
    
    .mybody {
        position: absolute;
        background: #e2e5ee;
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }


}





