<div class="row col-sm-12 fullScreen paddedtb">



    <p class="largeFont clearMargins">JacobMott.io
        <a class="normalFont clearMargins" href="https://www.linkedin.com/in/jacobmott/" target="_blank"><img
                src="assets/linkedin.png" height="25px" width="25px" alt="linkedin">&nbsp;My
            LinkedIn</a>&nbsp;
        <a class="normalFont clearMargins" href="https://github.com/jacobmott" target="_blank"><img
                src="assets/githubicon.png" height="25px" width="25px" alt="github">&nbsp;My
            Github</a>
    </p>
    <p class="normalFont breakwords clearMargins">This page uses custom APIs to pull in data from my github
        account/repos</p>


</div>