<div>
    <div [class]="whatClass">
        <div id="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="loading"></div>
            <p class="spinner-message normalFont" *ngIf="message && message !== ''">
                {{message}}
            </p>            
        </div>


    </div>
</div>