@import '../scss/my.scss';


::ng-deep .carousel-control-prev-icon {
    background-image: url('https://apufpel.com.br/assets/img/seta_prim.png') !important;
    background-color: rgba(206, 1, 1, 0.897);
}

::ng-deep .carousel-control-next-icon {
    background-image: url('https://apufpel.com.br/assets/img/seta_ult.png') !important;
    background-color: rgba(206, 1, 1, 0.897);
}


::ng-deep .carousel-indicators li {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    background-color: red;
}

::ng-deep .carousel-indicators {
    background-color: red;
}


::ng-deep .carousel-indicators .active {
    width: 20px !important;
    background-color: yellow;
    height: 20px !important;
    border-radius: 50% !important
}
