<swiper #newSwiper (swiper)="onSwiper($event)" (slideChange)="onSlideChange()"
  style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"  [config]="config"
  *ngIf="!imagesNotLoadedYet" class="mySwiper2">
  <ng-template swiperSlide *ngFor="let img of images;"><img src={{img.url}} /></ng-template>
</swiper>
<swiper #newThumbsSwiper [config]="thumbConfig" (swiper)="onSwiper2($event)" (slideChange)="onSlideChange2()"
  *ngIf="!imagesNotLoadedYet" class="mySwiper">
  <ng-template swiperSlide *ngFor="let img of images;"><img src={{img.url}} /></ng-template>
</swiper>


<app-spinner *ngIf="imagesNotLoadedYet" whatClass='newClass' message='Loading Repo Images'></app-spinner>