@import '../scss/my.scss';

mat-list {
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-y: hidden;
    width: auto;
    height: auto;
}




.my-scrollbar {
    --scrollbar-border-radius: 4px;
    --scrollbar-padding: 0px;
    --scrollbar-viewport-margin: 0;
    --scrollbar-track-color: transparent;
    --scrollbar-wrapper-color: transparent;
    --scrollbar-thumb-color: #4367aa;
    --scrollbar-thumb-hover-color: var(--scrollbar-thumb-color);
    --scrollbar-size: 5px;
    --scrollbar-hover-size: var(--scrollbar-size);
    --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
    --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;
}

.forceLeft {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 10%;
    display: flex;

}

@media only screen and (max-width: 600px) {

    .forceLeft {
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        height: 10%;        
        display: flex;
    }
}

.linkoraction2 {
    color: black;
    text-align: left;
}

.linkoraction2:hover {
    font-weight: bold;
    background-color: #4367aa;
}


.currentSelection {
    font-weight: bold;
    color: #e2e5ee;
    background-color: #4367aa;
    text-align: left;
}


.currentSelection2 {
    font-weight: bold;
    color: black;
    background-color: #759cd1;
    text-align: left;
}