<ng-scrollbar class="my-scrollbar" [autoHeightDisabled]="true" visibility="always" position="invertY" track="all" style="height: 500px">
    <mat-list role="list">
        <mat-list-item *ngFor="let repo of repos" (click)="onRowClicked($event, repo)"
            [ngClass]="{'linkoraction2 col-sm-12': !getClassStyle(repo, false),'currentSelection col-sm-12': getClassStyle(repo, false), 'currentSelection2 col-sm-12': !getClassStyle(repo, true)}"
            role="listitem ">
            <img class="col-sm-1" src="assets/githubicon.png" alt="github">&nbsp;{{repo.name}}
        </mat-list-item>
    </mat-list>
</ng-scrollbar>