<ng-scrollbar  *ngIf="!listNotLoadedYet" id="ng-srollingmylist" class="my-scrollbar" [autoHeightDisabled]="true" visibility="always" position="invertY" track="all"
    style="height: 100%">
    <mat-list role="list" >
        <mat-list-item *ngFor="let repo of repos" (click)="onRowClicked($event, repo)" role="listitem ">
            <div
                [ngClass]="{'linkoraction2 col-sm-12': true,'currentSelection': getClassStyle(repo, false), 'currentSelection2': !getClassStyle(repo, true)}">
                <p class="normalFont"><img align="left" src="assets/githubicon.png" height="25px" width="25px" alt="github">{{repo.name}}</p>
            </div>
        </mat-list-item>
    </mat-list>
</ng-scrollbar>
<app-spinner *ngIf="listNotLoadedYet" whatClass='newClass2' message='Loading Repos list' class="forceLeft"></app-spinner>    